<h2 class="edit_planet">Edit The Planet</h2>

<p><%= form_for @planet, :method => :patch do |f| %>
  Name: <%= f.text_field :name %><br>
  Diameter (km): <%= f.number_field :diameter %><br>
  Solid: <%= f.check_box :solid %><br>
  Order: <%= f.number_field :order %><br>
  Explore: <%= f.check_box :explored %><br>
  Rings: <%= f.check_box :rings %><br>
  Moons: <%= f.number_field :moons %><br>
  Image: <%= f.text_field :image %><br>
  Atmosphere: <%= f.text_field :atmosphere %><br>
  Distance From Sun (km): <%= f.number_field :distance_from_sun %><br><br></p>
  <%= f.submit "Update", class: "edit_planet_btn"%>
<% end %>
